%p#notice= notice

%p
  %strong Name:
  = @log.name

%p
  %strong Log:
  = @log.log

= render :partial => "logContent", :collection => @log.getRestrictedLogEvents("ERROR")

= link_to 'Edit', edit_log_path(@log)
= link_to 'Back', logs_path
